<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="ArtOfTest.WebAii.Core.SettingsConfigSectionHandler,ArtOfTest.WebAii, Version=2014.3.903.0, Culture=neutral, PublicKeyToken=4fd5f65be123776c" name="WebAii.Settings"/>
    <section type="TestUIConfiguration.QaReportSection, TestUIConfiguration" name="QaReportSection"/>
    <section type="UITests.Configuration.MachineSpecific.MachineSpecificSection`1[[Telerik.Sitefinity.TestUI.Core.Configuration.Machine.MachineSettings, Telerik.Sitefinity.TestUI.Core]], UITests.Configuration" name="machineSpecificConfigurations"/>
    <section name="TimeSettings" type="Telerik.TestUI.Core.Configuration.TimeSettings, Telerik.TestUI.Core"/>
  </configSections>
  <WebAii.Settings elementWaitTimeout="90000" xMultiMgr="false" unexpectedDialogAction="HandleAndFailTest" createLogFile="false" waitCheckInterval="500" logAnnotations="false" annotationMode="All" annotateExecution="false" executionDelay="50" queryEventLogErrorsOnExit="false" clientReadyTimeout="90000" executionTimeout="30000"></WebAii.Settings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <QaReportSection>
    <items>
      <add name="Sitefinity" serviceLocation="" productName="" qaConfigurationName="" amountName="" assessmentName="" requestedBy=""/>
    </items>
  </QaReportSection>
  <machineSpecificConfigurations>
    <machines>
      <add name="default" baseUrl="http://localhost/">
        <additionalUrls>
          <add name="site1" value="localhost"/>
          <add name="site2" value="localhost:82/"/>
        </additionalUrls>
        <nlbNodes>
          <add name="node1" value="http://localhost/"/>
          <add name="node2" value="http://localhost:82/"/>
        </nlbNodes>
        <siteSyncNodes>
          <add name="staging" value="http://localhost/"/>
          <add name="production" value="http://localhost:82/"/>
        </siteSyncNodes>
      </add>
      <add name="RACHINA" baseUrl="http://localhost:8023/">
        <additionalUrls>
          <add name="site1" value="localhost:2233"/>
          <add name="site2" value="localhost:2789"/>
        </additionalUrls>
      </add>
      <add name="BOGOEVA" baseUrl="http://localhost:8010/">
        <additionalUrls>
          <add name="site1" value="localhost:2233"/>
          <add name="site2" value="localhost:2789"/>
        </additionalUrls>
      </add>
      <add name="SHTEREVA" baseUrl="http://localhost:4410/">
        <additionalUrls>
          <add name="site1" value="localhost:9091" />
          <add name="site2" value="localhost:9091" />
        </additionalUrls>
      </add>
      <add name="MATEEV" baseUrl="http://localhost:9583/">
        <additionalUrls>
          <add name="site1" value="localhost:9091" />
          <add name="site2" value="localhost:9091" />
        </additionalUrls>
      </add>
    </machines>
  </machineSpecificConfigurations>
  <TimeSettings>
    <ajaxCallsTimeout value="45000"/>
    <installationTimeout value="180000"/>
    <uploadingTimeout value="80000"/>
    <pageLoadingTimeout value="45000"/>
    <waitForElementTimeout value="5000"/>
  </TimeSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ArtOfTest.WebAii" publicKeyToken="4fd5f65be123776c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9999.9999.9999.9999" newVersion="2014.3.903.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
