<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Sitefinity.MS.TestUI.Framework" version="1.0.6" targetFramework="net45" />
  <package id="Telerik.ArtOfTest.WebAii" version="2015.1.319.0" targetFramework="net45" />
  <package id="Telerik.WebAii.Controls" version="2015.1.319.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUI.Core" version="1.0.6" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUI.Framework" version="1.0.7" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUI.UIArrangement" version="1.0.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUtilities" version="8.0.5700.0" targetFramework="net45" />
  <package id="Telerik.TestUI.Core" version="1.5.2" targetFramework="net45" />
  <package id="UITests.Core" version="1.6.2" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net45" />
</packages>