<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Telerik.Sitefinity.MS.TestUI.Framework" version="1.0.9" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestStudio.Framework" version="2.1.3" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUI.Core" version="1.0.9" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUI.Framework" version="1.0.9" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUI.UIArrangement" version="1.0.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUtilities" version="8.1.5800.0" targetFramework="net45" />
  <package id="Telerik.TestUI.Core" version="1.5.4" targetFramework="net45" />
  <package id="UITests.Core" version="1.6.4" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net45" />
</packages>