<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Http" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Web.Common" version="3.2.3.0" targetFramework="net45" />
  <package id="RazorGenerator.MsBuild" version="2.4.1" targetFramework="net45" developmentDependency="true" />
  <package id="RazorGenerator.Mvc" version="2.3.12" targetFramework="net45" />
  <package id="ServiceStack" version="5.4.0" targetFramework="net471" />
  <package id="ServiceStack.Client" version="5.4.0" targetFramework="net471" />
  <package id="ServiceStack.Common" version="5.4.0" targetFramework="net471" />
  <package id="ServiceStack.Interfaces" version="5.4.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="5.4.0" targetFramework="net471" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net40" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="Telerik.DataAccess.Core" version="2018.0.1127.1" targetFramework="net471" />
  <package id="Telerik.Web.UI" version="2019.1.115.45" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net45" />
  <package id="Telerik.Sitefinity.ServicesImpl" version="12.0.7000" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Core" version="12.0.7000" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Content" version="12.0.7000" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Mvc" version="12.0.7000" targetFramework="net45" />
</packages>