/* Variables */
$xs-margin: 5px;
$sm-margin: 10px;
$md-margin: 15px;
$lg-margin: 25px;

$white: #fff;
$gray: #666;
$gray-lighter: #e4e4e4;
$gray-lightest: #f2f2f2;

$system-bg: $gray-lightest;

.sf-designer-dlg
{
	/* Margins and Paddings */
	.m-top-xs
	{
		margin-top: $xs-margin;
	}
	.m-top-sm
	{
		margin-top: $sm-margin;
	}
	.m-top-md
	{
		margin-top: $md-margin;
	}
	.m-top-lg
	{
		margin-top: $lg-margin;
	}
	.m-bottom-xs
	{
		margin-bottom: $xs-margin;
	}
	.m-bottom-sm
	{
		margin-bottom: $sm-margin;
	}
	.m-bottom-md
	{
		margin-bottom: $md-margin;
	}
	.m-bottom-lg
	{
		margin-bottom: $lg-margin;
	}

	/* Dialog */
	.modal-title
	{
		font-size: 24px;
	}
	.modal-footer
	{
		text-align: left;
	}

	/**/
	.s-loading
	{
		height: 20px;
		background: transparent url('./Images/loading.gif') no-repeat 0 0;
	}
	.s-items-list-wrp
	{
		max-height: 500px;
		overflow-y: auto;
	}

	.s-bg-source-wrp
	{
		border-top: 1px solid $gray-lighter;
		border-bottom: 1px solid $white;
		background-color: $system-bg;

		margin: -20px -20px 15px;
		padding: 15px 20px;

		.dropdown-menu
		{
			margin-top: -15px;
			margin-left: 20px;
		}
	}
	.s-more-options-wrp
	{
		.glyphicon-chevron-down, .glyphicon-chevron-right
		{
			color: $gray;
			font-size: 12px;
		}
		.s-title
		{
			cursor: pointer;
			font-weight: bold;
		}
		.s-body
		{
			margin-top: $sm-margin;
		}
		.form-group
		{
			margin-left: $md-margin;
		}
	}
}