// Modal popup ugly fix
body {
  .modal {
    width: auto;
    position: fixed;

    margin-left: 0;
    z-index: 3001 !important;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
  }

  .modal-backdrop {
    position: fixed;

    background-color: #666;
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
    z-index: 3000 !important;
  }
}
