<p><list-selector news-selector selected-item="selectedItem" name="firstSelector"></list-selector></p>
<p><list-selector news-selector selected-item="selectedItem" name="secondSelector"></list-selector></p>
<span>The selected id is: {{selectedItem.Id}}</span>
