<p><content-selector selected-item="selectedItem" item-type="Telerik.Sitefinity.News.Model.NewsItem"></content-selector></p>
<p><content-selector selected-item="selectedItem" item-type="Telerik.Sitefinity.GenericContent.Model.ContentItem"></content-selector></p>
<span>The selected id is: {{selectedItem.Id}}</span>
