<content-selector selected-item-id="properties['DummyText'].PropertyValue" selected-item="selectedItem" item-type="Telerik.Sitefinity.News.Model.NewsItem"></content-selector>
<span>The selected id is: {{selectedItem.Id}}</span>
