<p><sf-list-selector sf-news-selector selected-item="selectedNewsItem" selected-item-id="properties['SelectedIdNewsItem'].PropertyValue" name="newsItemsSingleSelector"></sf-list-selector></p>
<p><sf-list-selector sf-taxon-selector selected-item="selectedTaxonItem" selected-item-id="properties['SelectedIdTaxonItem'].PropertyValue" name="tagSingleSelector"></sf-list-selector></p>
<p><sf-list-selector sf-dynamic-items-selector item-type="itemType" selected-item="selectedDynamicItem" selected-item-id="properties['SelectedIdDynamicItem'].PropertyValue" name="dynamicItemsSingleSelector"></sf-list-selector></p>

Multiple news selector: <sf-list-selector sf-news-selector multiselect="true" sortable="true" selected-ids="SelectedIdsNewsItems" name="newsItemsMultipleSelector"></sf-list-selector>
Multiple tags selector: <sf-list-selector sf-taxon-selector multiselect="true" sortable="true" selected-ids="SelectedIdsTags" name="TagsMultipleSelector"></sf-list-selector>
Dynamic items multiple selector: <sf-list-selector sf-dynamic-items-selector multiselect="true" sortable="true" item-type="testDynamicModules" selected-ids="SelectedIdsDynamicItems" name="dynamicItemsMultipleSelector"></sf-list-selector>

Page selector: <sf-list-selector sf-page-selector multiselect="true" sortable="true" selected-ids="ids" name="pageSelector"></sf-list-selector>
