<p><sf-list-selector sf-news-selector selected-item="selectedNewsItem" selected-item-id="properties['SelectedIdNewsItem'].PropertyValue" name="newsItemsSingleSelector"></sf-list-selector></p>
<p><sf-list-selector sf-taxon-selector selected-item="selectedTaxonItem" selected-item-id="properties['SelectedIdTaxonItem'].PropertyValue" name="tagSingleSelector"></sf-list-selector></p>
<p><sf-list-selector sf-dynamic-items-selector item-type="itemType" selected-item="selectedDynamicItem" selected-item-id="properties['SelectedIdDynamicItem'].PropertyValue" name="dynamicItemsSingleSelector"></sf-list-selector></p>

multiple news  <sf-list-selector sf-news-selector multiselect="true" selected-ids="SelectedIdsNewsItems" name="newsItemsMultipleSelector"></sf-list-selector>
multiple tags  <sf-list-selector sf-taxon-selector multiselect="true" selected-ids="SelectedIdsTags" name="TagsMultipleSelector"></sf-list-selector>
dynamic multi <sf-list-selector sf-dynamic-items-selector multiselect="true" item-type="testDynamicModules" selected-ids="SelectedIdsDynamicItems" name="dynamicItemsMultipleSelector"></sf-list-selector>
