<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="ServiceStack.Client.Signed" version="4.0.22" targetFramework="net40" />
  <package id="ServiceStack.Common.Signed" version="4.0.22" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.22" targetFramework="net40" />
  <package id="ServiceStack.Signed" version="4.0.22" targetFramework="net40" />
  <package id="ServiceStack.Text.Signed" version="4.0.22" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2014.2.918.1" targetFramework="net40" />
  <package id="Telerik.DataAccess.Fluent" version="2014.2.918.1" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Core" version="7.2.5326.0" targetFramework="net40" />
  <package id="Telerik.Sitefinity.TestUtilities" version="7.2.5326.0" targetFramework="net40" />
  <package id="Telerik.Web.UI" version="2014.2.724.40" targetFramework="net40" />
</packages>