<div ng-controller="FaqCtrl">
	<div id="hero" class="white">
		<div class="container">
			<div class="col-md-12">
				<h1>Questions</h1>
				<h3>Super short list of our most frequently asked questions.</h3>
				<a href="https://plus.google.com/u/0/communities/101682685148530961591" class="btn btn-action btn-lg">
					Ask yours on Google+  <i class="fa fa-google-plus"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="container faq">
		<div class="row">
			<div class="col-md-12">
				<ul>
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>Are you going to abandon/remove the current WebForm based widgets?</h3>
						<p>
							No. Project Feather includes a Toolbox Manager module which will allow you to choose the widgets you want to use and under what circumstances. Sitefinity will maintain the feature parity between WebForm widgets and new MVC widgets going forward.
						</p>
					</li>	
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>Is this an official Telerik Sitefinity project or a pet project?</h3>
						<p>
							Project Feather is an official Telerik Sitefinity project featuring two working teams (10 people). Everything that is done gets shipped with Sitefinity CMS and is supported through the regular support channels. 
						</p>
					</li>	
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>Why open source?</h3>
						<p>
							There are several reasons for this. As front-end work is so heavily customized, we want you to be able to fork Project Feather and make it what you need it to be. We also want you to see how we approach front-end development and expose what we think are best practices. Finally, while we do not expect or rely on you to contribute, we will be more than happy to review and accept pull requests.
						</p>
					</li>	
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>How will you support Project Feather?</h3>
						<p>To benefit from the <b>guaranteed response time</b> according to your Support Plan included in your license, please submit a support ticket. Any bugs or feature requests, submitted as support tickets will be logged by our support team members.</p>
						<p>To <b>share the issue with the community</b>, get help from other users and have your issue reviewed by development team members directly, please open a github issue. </p>
						<p>Although we make the best effort to respond timely and efficiently, please consider that development team responses to github issues are not time-bound and may vary widely according to issue complexity and team availability.</p>
					</li>		
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>Why is this a separate project and not just released as part of Sitefinity?</h3>
						<p>
							We want to have an independent release cycle which allows you to see what we are doing and have a say in the direction we take. 
						</p>
					</li>	
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>How often do you release?</h3>
						<p>
							We release the latest stable developments on a weekly basis.
						</p>
					</li>						
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>How do you ship?</h3>
						<p>
							First and foremost, as a module in the latest official Sitefinity release. In addition, the weekly releases are shipped as NuGet packages.
						</p>
					</li>					
					<li>
						<i class="fa fa-question feather-icon"></i>
						<h3>How do I get started?</h3>
						<p>
							Simply follow our <a href="https://github.com/Sitefinity/feather/wiki/getting-started">Getting Started guide</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>