<div ng-controller="HomeCtrl">
		<div id="hero" class="home">
			<div class="container">
				<div class="col-md-6">
					<h1>Build awesome websites your way</h1>
					<h3>Modern, intuitive, convention based, mobile-first UI for Telerik Sitefinity&#8482;</h3>
					<a href="https://github.com/Sitefinity/feather" class="btn btn-action btn-lg">
						Fork on Github <i class="fa fa-github"></i>
					</a>
					<a href="https://github.com/Sitefinity/feather/wiki/Create-a-%E2%80%9CHello-World%E2%80%9D-MVC-widget-in-a-separate-assembly" class="btn btn-primary btn-lg">
						Say <em>"Hello, world!"</em> <i class="fa fa-code"></i>
					</a>
				</div>
				<div class="col-md-6 screen">
					<div id="screen">
						<div id="files">
							<em>Folders</em>
							<ul>
								<li>
									<i class="fa fa-folder"></i> frameworks
									<ul>
										<li><i class="fa fa-folder"></i> bootstrap</li>
										<li><i class="fa fa-folder"></i> semantic_ui</li>
										<li><i class="fa fa-folder"></i> foundation</li>
									</ul>
								</li>
								<li>
									<i class="fa fa-folder"></i>  less
									<ul>
										<li><i class="fa fa-file"></i> comments.less</li>
										<li><i class="fa fa-file"></i> forums.less</li>
									</ul>
								</li>
								<li>
									<i class="fa fa-folder"></i> views
									<ul>
										<li><i class="fa fa-file"></i> news.cshtml</li>
										<li><i class="fa fa-file"></i> blogs.cshtml</li>
									</ul>
								</li>
								<li><i class="fa fa-file"></i> package.json</li>
							</ul>
						</div>
						<div id="area">
							<ul id="tabs">
								<li>pages.less</li>
								<li class="active">comments.less</li>
								<li>news.cshtml</li>
							</ul>

							<div id="editing">
								<ul id="lines">
									<li>55</li>
									<li>56</li>
									<li>57</li>
									<li>58</li>
									<li>59</li>
									<li>60</li>
									<li>61</li>
									<li>62</li>
									<li>63</li>
									<li>64</li>
									<li class="active">65</li>
									<li>66</li>
									<li>67</li>
									<li>68</li>
									<li>69</li>
									<li>70</li>
									<li>71</li>
									<li>72</li>
								</ul>

								<div id="text">
									<ul>
										<li><em>#content .sfcommentsListWrp</em> {
											<ul>
												<li><i>padding</i>: 40px;</li>
												<li><i>margin</i>: 0 40px 0 0;</li>
												<li><i>float</i>: left;</li>
												<li><i>background</i>: @faded;</li>
												<li>&nbsp;</li>
												<li><em>h2</em> {
													<ul>
														<li><i>color</i>: #000;</li>
														<li><i>padding</i>: 0;</li>
														<li><i>margin</i>: 0;</li>
														<li>.title(<i>@big</i>);</li>
													</ul>
												</li>
												<li>}</li>
												<li>&nbsp;</li>
												<li><em>h3</em> {
													<ul>
														<li><i>color</i>: @gray;</li>
														<li>.title(<i>@medium</i>);</li>
													</ul>
												</li>
												<li>}</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="container watermark">
				<div class="row features text-center">
					<div class="col-md-4">
						<article>
							<i class="fa fa-code m-bottom-md"></i>
							<h3>MVC Stock Widgets</h3>
							<p>ASP.NET MVC implementation of all the Sitefinity stock widgets. Take full control over your markup.</p>
						</article>
					</div>
					<div class="col-md-4">
						<article>
							<i class="fa fa-html5"></i>
							<h3>Front-End of Your Choice</h3>
							<p>Bootstrap, Foundation, SemanticUI and bare-bones frameworks out-of-the-box. All others—supported.</p>
						</article>
					</div>
					<div class="col-md-4">
						<article>
							<i class="fa fa-mobile"></i>
							<h3>Mobile First</h3>
							<p>All widgets built with a mobile-first mindset, meaning they will be responsive by design.</p>
						</article>
					</div>
				</div>
				<div class="row features text-center">
					<div class="col-md-4">
						<article>
							<i class="fa fa-magic"></i>
							<h3>New Designers Framework</h3>
							<p>AngularJS SPA implementation of Widget Designers. Create new designers or modify existing ones in matter of minutes.</p>
						</article>
					</div>
					<div class="col-md-4">
						<article>
							<i class="fa fa-cogs"></i>
							<h3>Convention-Based Framework</h3>
							<p>Widgets, designers, templates and views: all wired-up based on a simple convention. No more mappings, no more XML.</p>
						</article>
					</div>
					<div class="col-md-4">
						<article>
							<i class="fa fa-folder"></i>
							<h3>Package More Than Themes</h3>
							<p>Themes are not enough. Now you can package your CSS, images, widget templates, layout templates and a master template, all in one package.</p>
						</article>
					</div>
				</div>
				<div class="row text-center cta">
					<div class="col-md-10 col-md-offset-1">
						<article>
							<h2>Open Source Now, Open Source Forever</h2>
							<p>Project Feather will be open source and available to the community from the very beginning. Even when v1 is included in official Telerik Sitefinity releases, it'll stay open source. We encourage patches and forks. And yes... it'll work with all editions for free.</p>
							<a href="https://github.com/Sitefinity/feather" class="btn btn-success btn-lg">
								Fork on Github <i class="fa fa-code-fork"></i>
							</a>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>