<div ng-controller="ResourcesCtrl">
	<div id="hero">
		<div class="container">
			<div class="col-md-12">
				<h1>Resources</h1>
				<h3>&nbsp;</h3>
				<a href="https://github.com/Sitefinity/feather" class="btn btn-default btn-action btn-lg">
					Got proposal for the roadmap? Join the crowd <i class="fa fa-code-fork"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="container resources">
		<div class="row">
			<div class="col-md-12">
				<h2>Repositories</h2>
				<h3>Feather</h3>
				<ul>
					<li>
						<a href="https://github.com/Sitefinity/feather">https://github.com/Sitefinity/feather</a>
					</li>
					<li>
						<strong>HTTPS clone URL</strong>
						<pre style="margin-bottom:0;">https://github.com/Sitefinity/feather.git</pre>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>