<div class="modal-header">
    <button type="button" class="close">&times;</button>
    <h3 class="modal-title">Custom thumbnail size</h3>
</div>

<div class="modal-body">
    <div class="form-group">
        <label>Resize image
            <select>
                <option>Resize to area</option>
                <option>Crop to area</option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label>Max width
            <input class="form-control" type="text" ng-model="model.maxWidth" />
            <span>px</span>
        </label>
        <label>Max height
            <input class="form-control" type="text" ng-model="model.maxHeight" />
            <span>px</span>
        </label>
    </div>
    <div class="form-group">
        <div class="row">
            <label>
                <input type="checkbox" ng-model="model.resizeToBigger" />
                Resize smaller images to bigger dimensions
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label>Quality</label>
            <select ng-model="model.quality">
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary pull-left">Done</button>
    <button type="button" class="btn btn-link  pull-left">Cancel</button>
</div>
