<div>
    <div class="modal-header">
        Image
    </div>

    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-10">

                    <div>
                        <p>Title</p>
                    </div>

                    <expander expander-title='More options'>

                    </expander>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="uploadImage()">Upload</button>
        <button type="button" class="btn btn-link  pull-left" ng-click="cancelUpload()">Cancel</button>
    </div>

</div>
