﻿<div class="Media">
    <div class="Media-content" sf-drag-drop sf-data-transfer-callback="dataTransferDropped(dataTransferObject)">

        <alert type="danger" ng-show="error.show">
            <div>
                <span style="font-size:15px">
                    {{error.message}}
                </span>

                <span ng-click="error.show = false" style="cursor:pointer; float:right">X</span>
            </div>
        </alert>

        <!--Upload image-->
        <input type="file" accept=".jpg, .jpeg, .png, .gif, .bmp" class="file-upload-chooser-input" style="display: none !important" />
        <div ng-show="isInUploadMode" class="Media-upload-text">
            <div class="text-center lead"><a ng-click="openSelectFileDialog()">Select image from your computer</a></div>
            <div class="text-center">or simply drag &amp; drop here</div>
        </div>

        <!--Select image-->
        <div ng-hide="isInUploadMode">
            <div class="Media-settings">
                <ol class="pull-left breadcrumb" ng-show="breadcrumbs && breadcrumbs.length > 0">
                    <li ng-click="onBreadcrumbItemClick()"><a>All libraries</a></li>
                    <li ng-repeat="item in breadcrumbs" ng-click="onBreadcrumbItemClick(item)">
                        <a>{{::item.Title}}</a>
                    </li>
                </ol>

                <sf-provider-selector sf-manager-type="Telerik.Sitefinity.Modules.Libraries.LibrariesManager"
                    ng-model="provider">
                </sf-provider-selector>

                <sf-search-box class="pull-right" sf-placeholder="Search by title..." sf-action="narrowResults(query)" sf-clear-search-string="clearSearch"> </sf-search-box>
            </div>

            <div ng-hide="items.length" class="Media-upload-text">
                <div class="text-center lead">NO IMAGES ICON</div>
                <div class="text-center lead"><a ng-click="openSelectFileDialog()">Select image from your computer</a></div>
                <div class="text-center">or simply drag &amp; drop here</div>
            </div>

            <div ng-show="items.length"
                sf-collection 
                sf-data="items"
                sf-model="selectedItems"
                sf-template-url="client-components/selectors/media/sf-image-collection.html"
                ng-class="{ 'is-grid' : isGrid, 'is-list' : isList }">
            </div>

            <div class="Media-settings Media-settings--bottom">
                <button type="button" class="btn btn-link btn-sm" ng-show="!showSortingAndView" ng-click="showSortingAndView = true">Sorting and view</button>
                <div ng-show="showSortingAndView" class="row">

                    <sf-sort-box class="col-xs-3" sf-model="sortExpression"></sf-sort-box>

                    <div class="Media-settings-sort col-xs-9">
                        <span ng-click="switchToGrid()" ng-class="{ 'is-selected' : isGrid }"><span class="glyphicon glyphicon-th"></span></span>
                        <span ng-click="switchToList()" ng-class="{ 'is-selected' : isList }"><span class="glyphicon glyphicon-th-list"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Media-sidebar">
        <div class="Media-sidebar-content">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li ng-class="{ 'active' : isInUploadMode }"><a ng-click="switchToUploadMode()">Upload image</a></li>
            </ul>

            <br />

            <!--Basic Filter-->
            <div class="m-bottom-xs m-left-xs"><strong>Already uploaded images</strong></div>

            <ul class="nav nav-pills nav-stacked nav-sm">
                <li ng-repeat="basicFilter in filters.basic.all"
                    ng-class="{ 'active': filters.basic.selected === basicFilter.value}">
                    <a ng-click="filters.basic.select(basicFilter.value)">{{basicFilter.title}}</a>
                </li>
            </ul>

            <br />

            <!--Library Filter-->
            <div ng-show="selectedFilterOption == 1">
                <strong class="m-bottom-xs m-left-xs">Libraries</strong>
                <div class="library-filter" sf-tree
                     sf-identifier="Id"
                     sf-model="filters.library.selected"
                     sf-request-children="filters.library.getChildren(parent)"
                     sf-has-children-field="HasChildren">
                </div>
            </div>

            <!--Tags Filter-->
            <span ng-show="selectedFilterOption == 2">
                <div class="m-bottom-xs m-left-xs"><strong>Tags</strong></div>
                <p class="m-bottom-xs">
                    <input class="form-control form-control-sm" type="text" placeholder="Narrow by typing..." ng-model="filters.tag.query"></input>
                </p>
                <div sf-collection
                     sf-identifier="Id"
                     class="sf-Tree-tags-infinite"
                     sf-model="filters.tag.selected"
                     sf-data="filters.tag.all"
                     sf-template-url="client-components/selectors/media/sf-media-tag-taxon-items.html"></div>
            </span>

            <!--Categories Filter-->
            <span ng-show="selectedFilterOption == 3">
                <div class="m-bottom-xs m-left-xs"><strong>Categories</strong></div>
                <p class="m-bottom-xs">
                    <input class="form-control form-control-sm" type="text" placeholder="Narrow by typing..." ng-model="filters.category.query">
                </p>
                <span sf-tree
                      sf-identifier="Id"
                      ng-hide="filters.category.query"
                      sf-model="filters.category.selected"
                      sf-request-children="filters.category.getChildren(parent)"
                      sf-has-children-field="HasChildren"></span>

                <span sf-collection
                      sf-identifier="Id"
                      ng-show="filters.category.query"
                      sf-template-url="client-components/selectors/media/sf-media-hierarchical-taxon-items.html"
                      sf-data="filters.category.filtered"
                      sf-model="filters.category.selected"></span>
            </span>

            <!--Date Filter-->
            <span ng-show="selectedFilterOption == 4">
                <div class="m-bottom-xs m-left-xs"><strong>Dates</strong></div>
                <span sf-collection
                      sf-model="filters.date.selected"
                      sf-identifier="dateValue"
                      sf-data="filters.date.all"
                      sf-template-url="client-components/selectors/media/sf-media-date-items.html"></span>
            </span>
        </div>

        <!--Filter dropdown-->
        <div class="Media-settings Media-settings--bottom">
            <button type="button" class="btn btn-link btn-sm" ng-show="!showOtherFilterOptions" ng-click="showOtherFilterOptions = true">Other filter options</button>

            <select ng-show="showOtherFilterOptions" class="form-control form-control-sm" ng-model="selectedFilterOption">
                <option value="1" selected="selected">Libraries</option>
                <option value="2">Tags</option>
                <option value="3">Categories</option>
                <option value="4">Dates</option>
            </select>
        </div>
    </div>
</div>

<div class="uploadPropertiesModal"
     template-url="{{uploadPropertiesTemplateUrl}}"
     modal
     size="normal"
     window-class="sf-designer-dlg sf-timespan-selector-dlg"
     dialog-controller="SfImageSelectorUploadPropertiesCtrl">
</div>
