<div class="Media">
    <div class="Media-content">
        <!--Upload image-->
        <div ng-show="isInUploadMode" class="col-md-10">
            <p class="text-center lead"><a ng-click="openSelectFileDialog()">Select image from your computer</a></p>
            <input type="file" class="file-upload-chooser-input" style="display:none!important" />
            <p class="text-center">or simpy implement drag &amp; drop here</p>
        </div>

        <!--Select image-->
        <div ng-hide="isInUploadMode" class="col-md-10">
            <div class="Media-settings">
                <span class="pull-left"
                    ng-show="breadcrumbs && breadcrumbs.length > 0">
                    <ol class="breadcrumb">
                        <li ng-click="onBreadcrumbItemClick()"><a>All libraries</a></li>
                        <li ng-repeat="item in breadcrumbs" ng-click="onBreadcrumbItemClick(item)">
                            <a>{{::item.Title}}</a>
                        </li>
                    </ol>
                </span>
                <sf-search-box class="pull-right" sf-placeholder="Search by title..." sf-action="narrowResults(query)"> </sf-search-box>
            </div>
        </div>

        <div sf-collection sf-data="items" sf-model="selectedItem" sf-template-url="client-components/selectors/media/sf-image-collection.html" ng-class="{ 'is-grid' : isGrid, 'is-list' : isList }"></div>

        <div class="Media-settings Media-settings--bottom">
            <button type="button" class="btn btn-link btn-sm" ng-show="!showSortingAndView" ng-click="showSortingAndView = true">Sorting and view</button>
            <div ng-show="showSortingAndView" class="row">

                <sf-sort-box class="col-xs-3" sf-model="sortExpression"></sf-sort-box>

                <div class="Media-settings-sort col-xs-9">
                    <span ng-click="switchToGrid()" ng-class="{ 'is-selected' : isGrid }"><span class="glyphicon glyphicon-th"></span></span>
                    <span ng-click="switchToList()" ng-class="{ 'is-selected' : isList }"><span class="glyphicon glyphicon-th-list"></span></span>
                </div>
            </div>
        </div>
    </div>

    <div class="Media-sidebar">
        <div class="Media-sidebar-content">
            <ul class="nav nav-pills nav-stacked nav-sm">
                <li><button ng-click="isInUploadMode = !isInUploadMode">Upload image</button></li>
            </ul>

            <!--Basic Filter-->
            <strong class="m-left-xs">Already uploaded images</strong>

            <ul class="nav nav-pills nav-stacked nav-sm">
                <li ng-repeat="basicFilter in filters.basic.all"
                    ng-class="{ 'active': filters.basic.selected === basicFilter.value}">
                    <a ng-click="filters.basic.select(basicFilter.value)" >{{basicFilter.title}}</a>
                </li>
            </ul>

            <br />

            <!--Library Filter-->
            <div ng-show="selectedFilterOption == 1">
                <strong class="m-left-xs">Libraries</strong>
                <div sf-tree
                    sf-model="filters.library.selected"
                    sf-request-children="filters.library.getChildren(parent)"
                    sf-has-children-field="HasChildren"></div>
            </div>

            <!--Tags Filter-->
            <span ng-show="selectedFilterOption == 2">
                <div class="m-bottom-xs"><strong>Tags</strong></div>
                <p class="m-bottom-xs">
                    <input class="form-control form-control-sm" type="text" placeholder="Narrow by typing..." ng-model="filters.tag.query"></input>
                </p>
                <span sf-collection
                    sf-model="filters.tag.selected"
                    sf-data="filters.tag.all"
                    sf-template-url="client-components/selectors/media/sf-media-tag-taxon-items.html"></span>
            </span>

            <!--Categories Filter-->
            <span ng-show="selectedFilterOption == 3">
                <div class="m-bottom-xs"><strong>Categories</strong></div>
                <p class="m-bottom-xs">
                    <input class="form-control form-control-sm" type="text" placeholder="Narrow by typing..." ng-model="filters.category.query">
                </p>
                <span sf-tree
                    ng-hide="filters.category.query"
                    sf-model="filters.category.selected"
                    sf-request-children="filters.category.getChildren(parent)"
                    sf-has-children-field="HasChildren"></span>

                <span sf-collection
                    ng-show="filters.category.query"
                    sf-template-url="client-components/selectors/media/sf-media-hierarchical-taxon-items.html"
                    sf-data="filters.category.filtered"
                    sf-model="filters.category.selected"></span>
            </span>

            <!--Date Filter-->
            <span ng-show="selectedFilterOption == 4">
                <div class="m-bottom-xs"><strong>Dates</strong></div>
                <span sf-collection
                    sf-model="filters.date.selected"
                    sf-identifier="dateValue"
                    sf-data="filters.date.all"
                    sf-template-url="client-components/selectors/media/sf-media-date-items.html"></span>
            </span>
        </div>
        <!--Filter dropdown-->
        <div class="Media-settings Media-settings--bottom">
            <select class="form-control form-control-sm" ng-model="selectedFilterOption">
                <option value="1" selected="selected">Libraries</option>
                <option value="2">Tags</option>
                <option value="3">Categories</option>
                <option value="4">Dates</option>
            </select>
        </div>
    </div>
</div>

<div class="uploadPropertiesModal" template-url="sf-upload-properties-template" modal size="normal" window-class="sf-designer-dlg sf-timespan-selector-dlg" existing-scope="true">
</div>

<script type="text/ng-template" id="sf-upload-properties-template">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeUploadImageDialog()">&times;</button>
        <h3 class="modal-title">Upload image</h3>
    </div>
    <div class="modal-body">
        <div sf-upload-image-properties sf-model="model" sf-cancel-upload-callback="closeUploadImageDialog()"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="closeUploadImageDialog(true)">Done</button>
        <button type="button" class="btn btn-link  pull-left" ng-click="closeUploadImageDialog()">Cancel</button>
    </div>
</script>
