<div>
    <div class="modal-header">
        Image
    </div>

    <div class="modal-body">
        <form name="imageProperties">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <label>Title</label>
                        <input class="form-control" name="title" type="text" ng-model="model.title" ng-required="true" />
                        <span ng-class="{'error': model.title.length>35}">{{model.title.length}}</span>
                        <span>Less than 35 characters are recommended</span>
                        <span ng-show="imageProperties.title.$error.required">Title is required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label>Alternative text</label>
                        <input class="form-control" name="alternativeText" type="text" ng-model="model.alternativeText" />
                        <span ng-class="{'error': model.alternativeText.length>35}">{{model.alternativeText.length}}</span>
                        <span>Less than 35 characters are recommended</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <p>Alignment</p>
                    <ul>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="None" />
                                None
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="Left" />
                                Left
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="Cemter" />
                                Center
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="Right" />
                                Right
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <expander expander-title='More options'>

                    </expander>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" ng-show="!imageProperties.title.$error.required" class="btn btn-primary pull-left" ng-click="uploadImage()">Upload</button>
        <button type="button" class="btn btn-link  pull-left" ng-click="cancelUpload()">Cancel</button>
    </div>

</div>
