<div>
    <h4>Select Image</h4>
    <hr />

    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <span class="pull-left">Breadcrumb</span>
                <input class="pull-right" type="text" ng-model="filterObject.query" placeholder="Search by title" />
            </div>
            <div class="row">
                <div sf-collection sf-data="items" ng-model="selectedItem" sf-template-url="client-components/selectors/media/sf-image-collection.html"></div>
            </div>
        </div>
        <div class="col-md-2">
            <p><button>Upload image</button></p>
            <span sf-media-basic-filters ng-model="filterObject" sf-template-url="client-components/selectors/media/sf-image-basic-filters.html"></span>
            <br />
            <h5>Libraries</h5>

            <span sf-media-flat-taxon-filter ng-model="filterObject" sf-taxonomy-id="CB0F3A19-A211-48a7-88EC-77495C0F5374" sf-title="Tags" sf-field="Tags"></span>
        </div>
    </div>

</div>