<div>
    <div class="modal-header">
        Image
    </div>

    <div class="modal-body">
        <div class="container">
            <sf-image-field sf-model="imageID" sf-image="image"></sf-image-field>
        </div>
        <form name="imageProperties">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-8">
                        <label>Title
                            <input class="form-control" name="title" type="text" ng-model="model.title" ng-required="true" />
                        </label>
                        <span ng-class="{'error': model.title.length>35}">{{model.title.length}}</span>
                        <span>Less than 35 characters are recommended</span>
                        <span ng-show="imageProperties.title.$error.required">Title is required</span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <label for="alternativeText">Alternative text
                            <input class="form-control" name="alternativeText" type="text" ng-model="model.alternativeText" />
                        </label>
                        <span ng-class="{'error': model.alternativeText.length>35}">{{model.alternativeText.length}}</span>
                        <span>Less than 35 characters are recommended</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <p>Alignment</p>
                    <ul>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="None" />
                                None
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="Left" />
                                Left
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="Cemter" />
                                Center
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" ng-model="model.alignment" value="Right" />
                                Right
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <expander expander-title='More options'>
                    <div class="row">
                        <p>Margins</p>
                        <ul>
                            <li>
                                <label>
                                    Top
                                    <input type="number" ng-model="model.margin.top" class="form-control"/>
                                </label>
                            </li>
                            <li>
                                <label>Right
                                    <input type="number" ng-model="model.margin.right" class="form-control"/>
                                </label>
                            </li>
                            <li>
                                <label>Bottom
                                    <input type="number" ng-model="model.margin.bottom" class="form-control"/>
                                </label>
                            </li>
                            <li>
                                <label>Left
                                    <input type="number" ng-model="model.margin.left" class="form-control" />
                                </label>
                            </li>
                        </ul>
                        <span>px</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <label>
								CSS classes
								<input class="form-control" type="text" ng-model="model.cssClass" />
							</label>
                        </div>
                    </div>
                </expander>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" ng-disabled="imageProperties.title.$error.required" class="btn btn-primary pull-left" ng-click="uploadImage()">Upload</button>
        <button type="button" class="btn btn-link  pull-left" ng-click="cancelUpload()">Cancel</button>
    </div>
</div>
