<div class="Media-items" sf-infinite-scroll="$parent.loadMore()">
	<div>
		<div ng-repeat="item in items | filter: { IsFolder : true }" class="Media-folder" ng-click="select(item)">
			<div ng-if="item.IsFolder === true">
				<div class="Media-file-thumb">
					<i class="glyphicon glyphicon-folder-close"></i>
					<strong>{{item.Title}}</strong>
				</div>

				<div class="Media-folder-title">
					{{item.Title}}
				</div>

				<div class="Media-item-meta">
					<span ng-show="item.LibrariesCount">{{item.LibrariesCount + " folders"}}</span><br />
					<span ng-show="item.ImagesCount">{{item.ImagesCount + (item.ImagesCount == 1 ? " image" : " images")}}</span>
                    <span ng-show="item.ItemsCount">{{item.ItemsCount + (item.ItemsCount == 1 ? " image" : " images")}}</span>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div ng-repeat="item in items | filter: { IsFolder : false }" class="Media-file" ng-click="select(item)" ng-class="{'is-selected' : isSelected(item)}">
			<div class="Media-file-wrapper">


				<div class="Media-file-thumb"
					popover-popup-delay="1000"
					popover-placement="top"
					popover-trigger="mouseenter"
					popover-append-to-body="true"
					popover-title="{{item.Title}}"
					popover="
						Library: {{item.LibraryTitle}};
						Dimensions: {{item.Width + 'x' + item.Height}};
						Type: {{item.Extension.toUpperCase()}}
					"
				>
					<div class="Media-file-thumb-holder">
						<img ng-if="item.IsFolder === false" ng-src="{{item.ThumbnailUrl}}" src="" alt="{{item.Title}}" />
					</div>
				</div>

				<div class="Media-item-title">
					{{item.Title}}
				</div>

				<div class="Media-item-meta">
					{{item.Extension.toUpperCase().replace(".", "")}}<br />
					{{item.Width + "x" + item.Height}}<br />
					{{item.TotalSize + "KB"}}<br />
				</div>

				<div class="Media-item-date">
					{{item.LastModified | date : 'MM/dd/yyyy HH:mm'}}<br />
					{{"by " + item.Author}}
				</div>

			</div>
		</div>
	</div>

	<div class="text-center">
		<sf-loading ng-show="$parent.isLoading"></sf-loading>
	</div>
</div>
