<div class="checkbox" ng-repeat="taxonomy in taxonomyFields">
    <label for="{{taxonomy.Name}}" class="full-width">
        <input id="{{taxonomy.Name}}" type="checkbox"
            ng-click="toggleTaxonomySelection(taxonomy.Name)" value="{{taxonomy.Name}}"
            ng-checked="selectedTaxonomies.hasOwnProperty(taxonomy.Name)" />
        {{taxonomy.Title}}...
    </label>

    <sf-list-selector class="label-content"
        sf-taxon-selector
        ng-if="selectedTaxonomies.hasOwnProperty(taxonomy.Name) && taxonomy.TaxonomyType === 0"
        multiselect="true"
        selected-ids="selectedTaxonomies[taxonomy.Name]"
        provider="provider"
        taxonomy-id="{{taxonomy.Id}}"
        change="change"></sf-list-selector>

    <sf-list-selector class="label-content"
        sf-hierarchical-taxon-selector
        ng-if="selectedTaxonomies.hasOwnProperty(taxonomy.Name) && taxonomy.TaxonomyType === 1"
        multiselect="true"
        selected-ids="selectedTaxonomies[taxonomy.Name]"
        provider="provider"
        taxonomy-id="{{taxonomy.Id}}"
        change="change"></sf-list-selector>

</div>
