﻿<div class="form-group nav-wrapper">
	<span class="m-right-sm">Link to</span>

	<label class="radio-inline" for="webAddressRadio">
		<input id="webAddressRadio" type="radio" ng-model="sfSelectedItem.mode" ng-value="sfLinkMode.WebAddress" />
		Web address
	</label>

	<label class="radio-inline" for="pagesFromThisSiteRadio">
		<input id="pagesFromThisSiteRadio" type="radio" ng-model="sfSelectedItem.mode" ng-value="sfLinkMode.InternalPage" />
		Page from this site
	</label>

	<label class="radio-inline" for="anchorRadio">
		<input id="anchorRadio" type="radio" ng-model="sfSelectedItem.mode" ng-value="sfLinkMode.Anchor" />
		Anchor
	</label>

	<label class="radio-inline" for="emailRadio">
		<input id="emailRadio" type="radio" ng-model="sfSelectedItem.mode" ng-value="sfLinkMode.EmailAddress" />
		Email
	</label>
</div>

<!-- Web address content -->
<div ng-show="sfSelectedItem.mode==sfLinkMode.WebAddress">
	<div class="form-group">
		<label for="webAddress">Web address</label>
		<div class="row">
			<div class="col-xs-9">
				<input class="form-control" type="text" id="webAddress" ng-model="sfSelectedItem.webAddress" />
			</div>
		</div>
		<div class="text-muted">Example: <em>http://weather.com</em></div>
	</div>

	<div class="form-group" ng-hide="sfSelectedItem.isImage">
		<label for="textToDisplay1">Text to display</label>
		<div class="row">
			<div class="col-xs-9">
				<input class="form-control" type="text" id="textToDisplay1" ng-model="sfSelectedItem.displayText" />
			</div>
		</div>
		<div class="text-muted">Example: <em>Weather forecast</em></div>
	</div>

	<div class="form-group checkbox">
		<label for="openInNewWin1">
			<input type="checkbox" id="openInNewWin1" ng-model="sfSelectedItem.openInNewWindow" />
			Open this link in a new window
		</label>
	</div>

	<div class="form-group">
		<span class="text-muted" ng-show="sfSelectedItem.displayText">Test this link:</span>
		<a ng-href="{{sfSelectedItem.webAddress}}" target="_blank"> {{sfSelectedItem.displayText}} </a>
	</div>
</div>

<!-- Page from this site content -->
<div ng-show="sfSelectedItem.mode==sfLinkMode.InternalPage">
	<div class="form-group">
			<sf-multisite-page-selector sf-site="sfSite"
																	sf-culture="sfCulture"
																	sf-selected-item-id="sfSelectedItem.pageId"></sf-multisite-page-selector>
	</div>

	<div class="form-group" ng-hide="sfSelectedItem.isImage">
		<label for="textToDisplay2">Text to display</label>
		<div class="row">
			<div class="col-xs-9">
				<input class="form-control" type="text" id="textToDisplay2" ng-model="sfSelectedItem.displayText" />
			</div>
		</div>
	</div>

	<div class="form-group checkbox">
		<label for="openInNewWin2">
			<input type="checkbox" id="openInNewWin2" ng-model="sfSelectedItem.openInNewWindow" />
			Open this link in a new window
		</label>
	</div>

	<div class="form-group">
		<span class="text-muted" ng-show="sfSelectedItem.displayText">Test this link:</span>
		<a target="_blank">{{sfSelectedItem.displayText}}</a>
	</div>
</div>

<!-- Anchor content -->
<div ng-show="sfSelectedItem.mode==sfLinkMode.Anchor">
	<div ng-hide="anchors.length==0">
		<div class="form-group">
			<label for="anchorSelect">Anchor</label>
			<div class="row">
				<div class="col-xs-9">
					<select class="form-control" id="anchorSelect" ng-model="sfSelectedItem.selectedAnchor" ng-options="a for a in anchors">
						<option value="">- Select -</option>
					</select>
				</div>
			</div>

			<div class="text-muted">A list of anchors already inserted in the text. <a href="https://github.com/Sitefinity/feather/wiki/How-to-insert-an-anchor%3F">How to insert an anchor?</a></div>
		</div>

		<div class="form-group" ng-hide="sfSelectedItem.isImage">
			<label for="textToDisplay3">Text to display</label>
			<div class="row">
				<div class="col-xs-9">
					<input class="form-control" type="text" id="textToDisplay3" ng-model="sfSelectedItem.displayText"/>
				</div>
			</div>
			<div class="text-muted">Example: <em>FAQ list</em></div>
		</div>
	</div>

	<div ng-show="anchors.length==0" class="alert alert-info" role="alert">
			<label>No anchors have been inserted in the text. <a href="https://github.com/Sitefinity/feather/wiki/How-to-insert-an-anchor%3F">How to insert an anchor?</a></label>
	</div>
</div>

<!-- Email content -->
<div ng-show="sfSelectedItem.mode==sfLinkMode.EmailAddress">
	<div class="form-group">
		<label for="emailAddress">Email address</label>
		<div class="row">
			<div class="col-xs-9">
				<input class="form-control" type="email" id="emailAddress" ng-model="sfSelectedItem.emailAddress" />
			</div>
		</div>
		<div class="text-muted">Example: <em>johnsmith@gmail.com</em></div>
	</div>

	<div class="form-group" ng-hide="sfSelectedItem.isImage">
		<label for="textToDisplay4">Text to display</label>
		<div class="row">
			<div class="col-xs-9">
				<input class="form-control" type="text" id="textToDisplay4" ng-model="sfSelectedItem.displayText"/>
			</div>
		</div>
		<div class="text-muted">Example: <em>Send email to John</em></div>
	</div>

	<div class="form-group">
		<span class="text-muted" ng-show="sfSelectedItem.displayText">Test this link: </span>
		<a ng-href="mailto:{{sfSelectedItem.emailAddress}}">{{ sfSelectedItem.displayText }}</a>
	</div>
</div>