<div class="modal-header">
    <h3 class="modal-title">Insert a link</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="radio">
            <label for="webAddress">
                <input id="webAddress" type="radio" ng-model="selectedItem.mode" value="1" />
                Web address
            </label>
        </div>
        <div class="radio">
            <label for="pagesFromThisSite">
                <input id="pagesFromThisSite" type="radio" ng-model="selectedItem.mode" value="2" />
                Page from this site
            </label>
        </div>
        <div class="radio">
            <label for="email">
                <input id="email" type="radio" ng-model="selectedItem.mode" value="3" />
                Email
            </label>
        </div>
    </div>
    <div ng-show="selectedItem.mode==1">
        <div>
            <div><label for="webAddress">Web address</label></div>
            <div><input type="text" id="Text1" ng-model="selectedItem.webAddress" /></div>
            <div>
                <label><strong>Example:</strong> http://weather.com</label>
            </div>
        </div>
        <div>
            <div><label for="textToDisplay1">Text to display</label></div>
            <div><input type="text" id="textToDisplay1" ng-model="selectedItem.displayText" /></div>
            <div>
                <label><strong>Example:</strong> Weather forecast</label>
            </div>
        </div>
        <div>
            <label for="openInNewWin1"><input type="checkbox" id="openInNewWin" ng-model="selectedItem.openInNewWindow" />Open this link in a new window</label>
        </div>
        <div>
            <input type="button" value="Test this link" onclick="var address = document.getElementById('webAddress').value; if (address) { window.open(address); }" />
        </div>
    </div>
    <div ng-show="selectedItem.mode==2">

        <div>

            <div style="display:table">
                <div style="float:left; display: table-row">
                    <sf-site-selector sf-site="selectedSite"></sf-site-selector>
                </div>

                <div style="float:right; display: table-row; margin-left:30px">
                    <sf-language-selector sf-site="selectedSite"
                                          sf-culture="selectedLanguage"></sf-language-selector>
                </div>
            </div>

            <sf-list-selector sf-template-url="client-components/selectors/tools/sf-list-selector.html"
                              sf-page-selector="selectedSite"
                              sf-culture="selectedLanguage"
                              sf-selected-item-id="id"></sf-list-selector>

        </div>

        <div>
            <div><label for="textToDisplay2">Text to display</label></div>
            <div><input type="text" id="textToDisplay2" ng-model="selectedItem.displayText" /></div>
        </div>
        <div>
            <label for="openInNewWin2"><input type="checkbox" id="openInNewWin2" ng-model="selectedItem.openInNewWindow" />Open this link in a new window</label>
        </div>
        <div>
            <input type="button" value="Test this link" />
        </div>
    </div>
    <div>
        Anchor html
    </div>
    <div ng-show="selectedItem.mode==3">
        <div>
            <div><label for="emailAddress">Email address</label></div>
            <div><input type="text" id="emailAddress" ng-model="selectedItem.emailAddress" /></div>
            <div>
                <label><strong>Example:</strong> johnsmith@gmail.com</label>
            </div>
        </div>
        <div>
            <div><label for="textToDisplay4">Text to display</label></div>
            <div><input type="text" id="textToDisplay4" ng-model="selectedItem.displayText" /></div>
            <div>
                <label><strong>Example:</strong> Send email to John</label>
            </div>
        </div>
        <div>
            <input type="button" value="Test this link" onclick="var address = document.getElementById('emailAddress').value; if (address) { window.open('mailto:' + address); }" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary  pull-left" ng-click="insertLink()">Insert link</button>
    <button type="button" class="btn btn-link  pull-left" ng-click="cancel()">Cancel</button>
</div>
