<ul ng-model="propertyPath" breadcrumb></ul>

<div class="list-group-endless properties-grid">
    <div data-ng-repeat="item in items | propertyHierarchy:propertyName:propertyPath |orderBy:'PropertyName'" class="form-group">
        <div ng-hide="item.NeedsEditor">
            <label for="prop-{{item.PropertyName}}" ng-bind="item.PropertyName"></label>
            <input id="prop-{{item.PropertyName}}" type="text" class="form-control" ng-model="item.PropertyValue"/>
        </div>
        <button type="button" class="btn btn-default btn-xs" ng-show="item.NeedsEditor" ng-click="drillDownPropertyHierarchy(item.PropertyPath, item.PropertyName)" ng-bind="item.PropertyName"></button>
    </div>
</div>
