<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.224.1" newVersion="2016.1.224.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.224.1" newVersion="2016.1.224.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.1.225.40" newVersion="2016.1.225.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Mvc" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.480.0" newVersion="1.5.480.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.TestUtilities" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Model" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Utilities" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Comments" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Notifications" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Search" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Events" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.RecycleBin" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Personalization" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Statistics" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Documents" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.ContentModules" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Ecommerce" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Forums" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.RecurrentRules" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Services.Notifications.Impl" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Personalization.Impl" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Sitefinity.Search.Impl" publicKeyToken="b28c218413bdf563" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.6000.0" newVersion="9.0.6000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>