<div class="dropdown m-top-none m-bottom-sm s-bg-source-wrp" ng-show="isProviderSelectorVisible" is-open="isOpen">
    <a class="btn btn-default dropdown-toggle" >
        {{selectedProvider.Title}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-header">
            {{providerLabel}}
        </li>
        <li ng-repeat="provider in providers">
            <a href="" ng-click="selectProvider(provider);">{{provider.Title}}</a>
        </li>
    </ul>
</div>