<div ng-show="isListEmpty()" class="alert alert-info">No items have been selected yet.</div>

<alert type="danger" ng-show="showError">{{errorMessage}}</alert>

<div ng-hide="isListEmpty() || showError">
    <div class="input-group m-bottom-sm">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        <sf-items-filter sf-filter='filter'></sf-items-filter>
    </div>
    <div class="list-group list-group-endless" kendo-sortable k-options="sortableOptions" k-on-change="sortItems(kendoEvent)">
        <div class="list-group-item list-group-item-multiselect list-group-item-draggable"
            ng-click="itemClicked(item.item)"
            ng-repeat="item in currentItems">

            <span class="handler list-group-item-drag" ng-hide="!!filter.searchString || !sfSortable"></span>

            <input type="checkbox" ng-checked="item.isChecked">

            <div><span sf-shrinked-breadcrumb="{{bindIdentifierField(item.item)}}" sf-max-length="60"></span></div>
        </div>
    </div>
    <div ng-hide="currentItems.length"><i>No items found</i></div>
</div>
