<p>The image collection</p>

<ul sf-infinite-scroll="$parent.loadMore()" class="row" style="height:200px">
    <li ng-repeat="item in items | filter: { IsFolder : true }" class="col-md-3">
        <div ng-if="item.IsFolder === true" style="height:100px;width:100px;border:2px solid blue">{{item.Title}}</div>
    </li>

    <li ng-repeat="item in items | filter: { IsFolder : false }" class="col-md-3">
        <img ng-if="item.IsFolder === false" ng-src="{{item.ThumbnailUrl}}" src alt="{{item.Title}}" width="100" height="100" style="border:2px solid yellow"/>
    </li>
</ul>

<button ng-click="switchToGrid()">Grid</button>
<button ng-click="switchToList()">List</button>

<style>
    .sf-collection-grid {
        border:3px solid green;
    }
    .sf-collection-list {
        border:3px solid red;
    }
</style>