<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gallio_MbUnit" version="3.4.14.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Http" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Sitefinity.RazorEngine" version="3.0.8.0" targetFramework="net45" />
  <package id="Telerik.DataAccess.Core" version="2016.1.224.1" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Content" version="9.0.6000.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Core" version="9.0.6000.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Mvc" version="1.5.490.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.Mvc.TestUtilities" version="1.5.490.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.TestUtilities" version="9.0.6000.0" targetFramework="net45" />
  <package id="Telerik.Sitefinity.WebTestRunner.Server" version="1.0.0.2" targetFramework="net40" />
</packages>