<script type="text/ng-template" id="dynamic-items-selector-template">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">Select content</h3>
    </div>
    <div class="modal-body">
        <div kendo-tab-strip class="k-tabstrip--selection">
            <ul ng-show="multiselect">
                <li ng-class="{true:'k-state-active', false:''}[!isItemSelected() || multiselect === false]">All</li>
                <li ng-class="{true:'k-state-active', false:''}[isItemSelected() && multiselect === true]" ng-click="collectSelectedItems()">
                    Selected <span class="badge" ng-show='selectedItemsInTheDialog.length !== 0'>{{selectedItemsInTheDialog.length}}</span>
                </li>
            </ul>
            <div>
                <div ng-show="noItemsExist" class="alert alert-info">No items have been created yet.</div>

        <alert type="danger" ng-show="showError">{{errorMessage}}</alert>

                <div ng-hide="noItemsExist || showError">
            <div class="input-group m-bottom-sm">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                        <items-filter filter='filter'></items-filter>
            </div>
                    <div endless-scroll paging='paging' class="list-group list-group-endless">
                <a ng-repeat="item in items"
                                ng-class="{'list-group-item':true, 'active': isItemSelectedInDialog(item) }"
                                ng-click="itemClicked($index, item)"
                                style="text-overflow: ellipsis; overflow: hidden;">
                            <input type="checkbox" ng-checked="isItemSelectedInDialog(item)" ng-show="multiselect">
                    <div ng-bind="bindIdentifierField(item)"></div>
                </a>
                    </div>
                    <div ng-hide="items.length || showLoadingIndicator"><i>No items found</i></div>
                    <div class="s-loading" ng-show="showLoadingIndicator" style="display: inline-block; width: 30px;"></div>
                </div>
                </div>
            <div>
                <selected-items-view items='selectedItemsViewData' selected-items='selectedItemsInTheDialog' identifier-field='identifierField'></selected-items-view>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-hide="noItemsExist || showError" class="btn btn-primary  pull-left" ng-click="doneSelecting()">Done selecting</button>
        <button type="button" class="btn btn-link  pull-left" ng-click="cancel()">Cancel</button>
    </div>
</script>
