<script type="text/ng-template" id="selector-template">
    <div class="modal-header">
        <h1 style="background: none; padding-bottom: 0; margin-bottom: 0" class="modal-title">Select content</h1>
    </div>
    <div class="modal-body">
        <div ng-show="isListEmpty" class="alert alert-info">No items have been created yet.</div>
        <div ng-hide="isListEmpty">
            <div class="input-group m-bottom-sm">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
                <input type="text" ng-model="filter.search" class="form-control" placeholder="Narrow by typing" />
            </div>
            <div class="list-group s-items-list-wrp">
                <a ng-repeat="item in items"
                        ng-class="{'list-group-item':true, 'active': item.Id==selectedItemInTheDialog.Id }"
                        ng-click="itemClicked($index, item)">
                    <span ng-bind="item.Title"></span>
                </a>
            </div>
            <pagination ng-show="filter.paging.isVisible" items-per-page="filter.paging.itemsPerPage" total-items="filter.paging.totalItems" ng-model="filter.paging.currentPage"></pagination>
            <div ng-hide="items.length">No items found</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-hide="isListEmpty" class="btn btn-primary" ng-click="selectItem()">Done selecting</button>
        <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
    </div>
</script>