<div class="checkbox" ng-repeat="taxonomy in taxonomyFields|filter:{TaxonomyType:0}">
    <label for="{{taxonomy.Name}}" class="full-width">
        <input id="{{taxonomy.Name}}" type="checkbox"
            ng-click="toggleTaxonomySelection(taxonomy.Name)" value="{{taxonomy.Name}}"
            ng-checked="selectedTaxonomies.indexOf(taxonomy.Name) > -1" />

            {{taxonomy.Title}}...


            <list-selector taxon-selector ng-show="selectedTaxonomies.indexOf(taxonomy.Name) > -1"
                provider="provider"
                taxonomy-id ="taxonomy.Id"
                selected-item-id ="taxonFilters[taxonomy.Name][0]"></list-selector>
    </label>

</div>
