<div>
    <div id="selectedItemsPlaceholder">
        <alert type="danger" ng-show="showError">{{errorMessage}}</alert>

        <div ng-hide="showError">
            <span class="label label-taxon label-full" ng-bind="sfSelectedItem.displayText"></span>
            <button class="btn btn-xs btn-default openSelectorBtn" ng-click="open()">
                <span ng-hide="isItemSelected()">Select</span>
                <span ng-show="isItemSelected()">Change</span>
            </button>
        </div>
    </div>
    <div class="contentSelector" template-url ="timespan-selector-content" modal window-class="sf-designer-dlg sf-timespan-selector-dlg" existing-scope="true">

    </div>
</div>

<script type="text/ng-template" id="timespan-selector-content">
    <div class="modal-header">
        <h3 class="modal-title">Select dates</h3>
    </div>
    <div class="modal-body">


        <alert type="danger" ng-show="showError">{{errorMessage}}</alert>

        <h4>Display items published in...</h4>
        <form name="periodSelection">
            <div class="radio">
                <label for="anyTime">
                    <input id="anyTime" type="radio" value="anyTime" ng-model="selectedItemInTheDialog.periodType" />
                    Any time
                </label>
            </div>
            <div class="radio form-inline">
                <label for="periodToNow">
                    <input id="periodToNow" type="radio" value="periodToNow" ng-model="selectedItemInTheDialog.periodType"/>
                    Last
                </label>

                <input type="number" min="1" ng-model="selectedItemInTheDialog.timeSpanValue"
                        ng-disabled="selectedItemInTheDialog.periodType!='periodToNow'"
                        style="width: 70px" class="form-control input-sm" />

                <select ng-model="selectedItemInTheDialog.timeSpanInterval"
                        ng-disabled="selectedItemInTheDialog.periodType!='periodToNow'"
                        class="form-control input-sm">
                    <option value="days">day(s)</option>
                    <option value="weeks">week(s)</option>
                    <option value="months">month(s)</option>
                    <option value="years">year(s)</option>
                </select>
            </div>
            <div class="radio">
                <label for="customRange">
                    <input id="customRange" type="radio" value="customRange" ng-model="selectedItemInTheDialog.periodType" />
                    Custom range...
                </label>

                <div class="label-content" ng-show="selectedItemInTheDialog.periodType=='customRange'">
                    <strong>From</strong>
                    <sf-date-time-picker ng-model="selectedItemInTheDialog.fromDate" sf-show-meridian="true"></sf-date-time-picker >

                    <strong>To</strong>
                    <sf-date-time-picker ng-model="selectedItemInTheDialog.toDate" sf-show-meridian="true"></sf-date-time-picker >
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="selectItem()">Done selecting</button>
        <button type="button" class="btn btn-link pull-left" ng-click="cancel()">Cancel</button>
    </div>
</script>

