// Kendo Editor Widget
// We don't have access to the markup,
// that's why we're cascading

@mixin toolbar-tool-dimentions
	height: 48px
	width: 46px
	border: 0

@mixin picker-input-solid
	border-color: rgba(0, 0, 0, 0.38)
	color: rgba(0, 0, 0, 0.87)
	background-color: #f5f5f5

.modal-body
	.k-editor-toolbar-wrap
		padding-left: 0
	.k-editor-toolbar
		padding: 0 60px 0 20px
		box-sizing: border-box
		overflow: visible
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);

		.k-toolbar-button-group, 
		.k-toolbar-tool:not(.k-disabled),
		.k-selected
			display: inline-flex
			align-items: center
			justify-content: center

		.k-selected::before
			opacity: 0

	.k-editor
		width: 100%
		height: 100%
		margin-right: 6px
		display: table
		//background: transparent
		border: none
		border-collapse: collapse
		background: #f2f2f2
		&:last-child
			margin-right: 0

		.k-dropdown
			width: 110px
		
		.k-dropdownlist,
		.k-combobox,
		.k-picker
			border-width: 0
			border-radius: 0
			border-color: #f2f2f2

			&.k-picker-solid
				@include picker-input-solid

			.k-icon-button
				padding: 4px

			.k-button-icon
				min-width: 20px
				min-height: 20px

		.k-input-solid
			@include picker-input-solid

		.k-input-inner
			font-size: inherit
			line-height: 1.25
			box-sizing: border-box
			padding: 8px 16px
			border: 0
			color: inherit
			background: 0


			.k-input-value-text
				font-size: 13px

			.k-svg-icon
				width: 16px

		.k-clear-value
			width: 32px
			height: 32px
			opacity: .5

			&:hover
				opacity: 1

		.k-icon-color-preview
			overflow: visible

		.k-editor-toolbar-wrap
			position: relative
		
		.invisible-group
		  display: none !important

		.k-state-border-down
			&:not(.k-overflow-anchor)
				&:not(.k-colorpicker)
					.k-input
						background-color: transparent

		.k-editor-toolbar
			position: relative
			margin: 0
			// min-height: 50px
			background: #f2f2f2

			.k-toolbar-tool
				color: inherit
				padding: 0
				&.k-disabled
					display: none

			&.sf-toolbar-short
				position: absolute
				top: 0
				left: 0
				right: 0
				background: transparent
				z-index: 10
				border-bottom: 0
				height: 48px

			&.sf-toolbar-full
				li
					opacity: 0.4

				> div:last-child,
				> div:nth-last-child(2)
					position: static

			> div:last-child,
			> div:nth-last-child(2)
				position: absolute

			> div:last-child
				top: 10px
				right: 20px

			> div:nth-last-child(2)
				top: -56px
				right: 49px
				.custom-tool
					color: #666
					&:hover
						background: transparent
						color: #333

			.k-toolbar-button-group
				margin: 0
				+ .k-toolbar-button-group
					border-left: 0

				.k-toolbar-tool
					@include toolbar-tool-dimentions

			.k-toolbar-item
				.k-toolbar-tool
					@include toolbar-tool-dimentions

			.k-toolbar-tool.k-toolbar-button
				@include toolbar-tool-dimentions

			.custom-tool
				color: #797979

				&:hover
					color: #000
				&.show-all-button
					width: 40px !important
				&.btn
					margin-top: 1px
					margin-right: -12px
			
			.k-colorpicker
				width: min-content

				.k-input-inner
					width: 1.25em
					height: 1.25em
					padding: 8px

		.k-editable-area
			vertical-align: top
			border: none
			padding: 0
			background-color: transparent

			iframe,
			textarea.html
				display: block
				margin: 0 auto
				padding: 0
				min-height: 347px
				max-width: 900px
				background-color: #fff

			textarea.html
				padding: 30px
				box-sizing: border-box
				resize: none
				width: 100%
				height: 100%

		.k-toolbar-tool
			transition: 0.2s
			.glyphicon
				color: #333
			&:focus
				text-decoration: none
				box-shadow: none
			&:hover
				background: #ddd
				text-decoration: none
				.k-tool-icon
					opacity: 1
			&.k-state-hover, &:hover
				border-radius: 0

			&[data-command="formatting"]
				background: unset

		.k-selected,
		.k-toolbar-tool.k-active
				background: #ddd

.kendo-content-block
	display: block
	margin: 0 -30px -20px
	border-bottom: 1px solid #e5e5e5

	&.kendo-content-block--sh
		margin-bottom: 0

	.k-toolbar-tool
		background-color: transparent

.modal-dialog:not(.modal-full-screen)
	.k-editable-area
			textarea.html
				border: 0

.modal-full-screen
	width: 100% !important
	margin: 0 !important
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0

	#viewsPlaceholder,
	.modal-content,
	.modal-body,
	.kendo-content-block
		display: block
		height: 100%

	.k-content
		border: 1px dashed transparent
		transition: border-color .2s ease
		-webkit-box-sizing: border-box
		box-sizing: border-box

		&:hover
			border: 1px dashed #999
			
.editor-lg
	height: 540px

.sf-maximize
	position: relative
	display: block

	&:before,
	&:after
		content: ""
		display: block
		height: 5px
		width: 5px
		border: 2px solid #666
		position: absolute
		background: #fff
		box-sizing: content-box
	&:before
		top: -4px
		width: 7px
		border-top-width: 4px
	&:after
		display: none

	&.sf-minimize
		&:after
			display: block
			top: -4px
			left: 3px
		&:before
			top: 0
			width: 5px
			z-index: 2
			border-top-width: 2px
	&:hover
		&:after,
		&:before
			border-color: #333

.modal-body .sf-content-block-in-newsletter .k-editor .k-editor-toolbar>div:nth-last-child(2)
	top: -127px
