// Kendo Editor Widget
// We don't have access to the markup,
// that's why we're cascading

.modal-body
	.k-editor-widget
		margin-right: 6px
		background: transparent
		border: none
		border-collapse: collapse
		&:last-child
			margin-right: 0

		.k-editor-toolbar
			position: relative
			margin: -23px 0 0
			padding: 10px 20px
			min-height: 34px
			background: #f2f2f2

			> li:last-child,
			> li:nth-last-child(2)
				position: absolute
				top: 10px

			> li:last-child
				right: 20px

			> li:nth-last-child(2)
				right: 55px

			.k-tool-group
				.custom-tool
					height: 30px

					.glyphicon
						padding-top: 2px

					.glyphicon-option-horizontal
						padding-top: 4px

		.k-editable-area
			vertical-align: top
			border: none
			padding: 0

			iframe,
			textarea.html
				display: block
				margin: 0 auto
				padding: 0
				min-height: 347px
				max-width: 900px

			textarea.html
				padding: 20px
				box-sizing: border-box


.kendo-content-block
	display: block
	margin: 3px -20px -20px

.modal-full-screen
	width: 100% !important
	margin: 0 !important
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0

	#viewsPlaceholder,
	.modal-content,
	.modal-body,
	.kendo-content-block
		display: block
		height: 100%

	.k-editor
		height: 100% !important

	.k-content
		border: 1px dashed transparent
		transition: border-color .2s ease
		-webkit-box-sizing: border-box
		box-sizing: border-box

		&:hover
			border: 1px dashed #999

.editor-lg
	height: 540px


.k-tool:hover
	background-color: #b6bdca
	.k-createLink
		background-position: -312px -48px



