@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @Html.SfPlaceHolder("Contentplaceholder1")
	@Html.SfPlaceHolder("Contentplaceholder2")
</body>
</html>