@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>My@TestTemplate</h1>
    @Html.SfPlaceHolder("Contentplaceholder1")
</body>
</html>