@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.DateFieldViewModel

@using Telerik.Sitefinity;

<div class="@ViewBag.CssClass" data-sf-field="@Model.FieldName" data-sf-ftype="DateTime">
    <div class="sfitemFieldLbl">
        @Model.FieldTitle:
    </div>
    <div class="sfitemDate">
        @Model.Date.ToSitefinityUITime().ToString(Model.DateFormat)
    </div>    
</div>