@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ClassificationFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="sfitemHierarchicalTaxon sfitemTaxonWrp @ViewBag.CssClass" data-sf-field='@Model.FieldName' data-sf-ftype='HierarchicalTaxon'>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <div class="sfitemFieldLbl">
        @Model.FieldTitle:
    </div>
    }

    <ul class="sfCategoriesList">
    @foreach (string taxonName in Model.TaxonIds.GetTaxonNames(Model.ClassificationId))
    {
        <li>
            <span>@taxonName</span>
        </li>   
    }
    </ul>
</div>
