@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.MediaFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers; 

<div>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <h2>@Model.FieldTitle</h2>
    }
    
    <div>
         <img src='@Model.MediaItem.GetImage().MediaUrl' alt='@Model.MediaItem.GetImage().AlternativeText' title='@Model.MediaItem.GetImage().Title' />
    </div>
</div>