@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.TextFieldViewModel


<div class="@ViewBag.CssClass" data-sf-field="@Model.FieldName" data-sf-ftype="LongText">
    @Model.FieldValue
</div>