@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.MediaFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers; 

<div>
    <h2>@Model.FieldTitle</h2>
    <ul>
        @foreach(var contentLink in Model.MediaItems)
        {
            <li>
                <img src='@contentLink.GetImage().MediaUrl' alt='@contentLink.GetImage().AlternativeText' title='@contentLink.GetImage().Title' />
            </li>
        }
    </ul>
</div>