@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.MediaFieldViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers; 

<div>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <h2>@Model.FieldTitle</h2>
    }
    <ul>
        @foreach(var contentLink in Model.MediaItems)
        {
            <li class="sfrelatedListItem sflistitem">
                <a href='@contentLink.GetDocument().MediaUrl)'>
                    @contentLink.GetDocument().Title
                </a>
            </li>         
        }
    </ul>
</div>