@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ChoiceFieldViewModel


<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <div class="sfTxtLbl">
            @Model.FieldTitle:
        </div>
    }
    
    <div class="sfChoiceContent" data-sf-field="@Model.FieldName" data-sf-ftype="ChoicesDropDown">
        @Model.ChoiceValueText
    </div>    
</div>