@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.TextFieldViewModel


<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <div class="sfitemFieldLbl">
        @Model.FieldTitle:
    </div>
    }
    
    <div class="sfitemNumber">
        @Model.FieldValue
    </div>   
    <span class="sfUnit">
        @Model.Unit
    </span> 
</div>