@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.RelatedDataFieldViewModel

@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Libraries.Model;

<div class="sfSnglRelatedItmWrp">
    <h2 class="sfrelatedItmTitle">@Model.FieldTitle</h2>
    <div class="sfrelatedItmWrp">
         <img src='@(((MediaContent)Model.SingleRelatedItem).MediaUrl)' alt='@(((Image)Model.SingleRelatedItem).AlternativeText)' title='@(((IDynamicFieldsContainer)Model.SingleRelatedItem).GetValue(Model.IdentifierField))' />
    </div>
</div>