@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.RelatedDataFieldViewModel

@using Telerik.Sitefinity.Model;

<div class="sfMultiRelatedItmsWrp">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <h2 class="sfrelatedItmTitle">@Model.FieldTitle:</h2>
    }

    <ul class="sfrelatedList sflist">

    @foreach (IDynamicFieldsContainer relatedItem in Model.RelatedItemCollection)
    {
        <li class="sfrelatedListItem sflistitem">
            <a href='@Telerik.Sitefinity.RelatedData.RelatedDataExtensions.GetDefaultUrl(relatedItem)'>@relatedItem.GetValue(Model.IdentifierField)</a>
        </li>   
    }
    </ul>
</div>