@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.ChoiceFieldViewModel

@using Telerik.Sitefinity.Localization;

<div class="@ViewBag.CssClass">
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
    <div class="sfTxtLbl">
        @Model.FieldTitle:
    </div>
    }

    <div class="sfChoiceContent" data-sf-field="@Model.FieldName" data-sf-ftype="YesNo">
        @(Model.YesNoValue ? Res.Get<Labels>().Yes : Res.Get<Labels>().No)
    </div>    
</div>