<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img ng-src="{{sfModel.ThumbnailUrl}}" src="" width="200" height="150" alt="{{sfModel.Title.Value}}" />
        </div>

        <div class="col-md-3">
            <p><label>Type</label><span ng-bind="sfModel.Extension"></span></p>
            <p><label>File size</label><span ng-bind="imageSize"></span></p>
            <p><label>Uploaded</label><span ng-bind="uploaded"></span></p>
            <br />
            <button class="btn btn-sm" ng-click="changeImage()">Change image</button>
            <button class="btn btn-sm" ng-click="editAllProperties()">Edit all properties</button>
        </div>
    </div>
</div>

<div class="imageSelectorModal" 
    template-url="sf-image-selector-modal-template" 
    modal 
    size="normal" 
    window-class="modal-fluid" 
    existing-scope="true">
</div>

<script type="text/ng-template" id="sf-image-selector-modal-template">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h3 class="modal-title">Select image</h3>
    </div>
    <div class="modal-body">
        <sf-image-selector sf-model="model.selectedItems" sf-filter="model.filterObject"></sf-image-selector>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="done()" ng-disabled="!model.selectedItems.length">Done</button>
        <button type="button" class="btn btn-link  pull-left" ng-click="cancel()">Cancel</button>
    </div>
</script>