+create-util-class("m-top", "margin-top")
+create-util-class("m-right", "margin-right")
+create-util-class("m-bottom", "margin-bottom")
+create-util-class("m-left", "margin-left")

+create-util-class("p-top", "padding-top")
+create-util-class("p-right", "padding-right")
+create-util-class("p-bottom", "padding-bottom")
+create-util-class("p-left", "padding-left")


.u-dib
	display: inline-block

.u-db
	display: block

.u-dn
	display: none
