<div class="sf_cols" data-sf-element="Row">
    <div class="sf_colsOut sf_5cols_1_20">
        <div class="sf_colsIn sf_5cols_1in_20" data-sf-element="Column 1">
            
        </div>
    </div>
    <div class="sf_colsOut sf_5cols_2_20">
        <div class="sf_colsIn sf_5cols_2in_20" data-sf-element="Column 2">
            
        </div>
    </div>
    <div class="sf_colsOut sf_5cols_3_20">
        <div class="sf_colsIn sf_5cols_3in_20" data-sf-element="Column 3">
            
        </div>
    </div>
    <div class="sf_colsOut sf_5cols_4_20">
        <div class="sf_colsIn sf_5cols_4in_20" data-sf-element="Column 4">
            
        </div>
    </div>
    <div class="sf_colsOut sf_5cols_5_20">
        <div class="sf_colsIn sf_5cols_5in_20" data-sf-element="Column 5">
            
        </div>
    </div>
</div>