<div class="sf_cols" data-sf-element="Row">
    <div class="sf_colsOut sf_3cols_1_25">
        <div class="sf_colsIn sf_3cols_1in_25" data-sf-element="Column 1">
            
        </div>
    </div>
    <div class="sf_colsOut sf_3cols_2_50">
        <div class="sf_colsIn sf_3cols_2in_50" data-sf-element="Column 2">
            
        </div>
    </div>
    <div class="sf_colsOut sf_3cols_3_25">
        <div class="sf_colsIn sf_3cols_3in_25" data-sf-element="Column 3">
            
        </div>
    </div>
</div>