<div class="sf_cols" data-sf-element="Row">
    <div class="sf_colsOut sf_4cols_1_25">
        <div class="sf_colsIn sf_4cols_1in_25" data-sf-element="Column 1">
            
        </div>
    </div>
    <div class="sf_colsOut sf_4cols_2_25">
        <div class="sf_colsIn sf_4cols_2in_25" data-sf-element="Column 2">
            
        </div>
    </div>
    <div class="sf_colsOut sf_4cols_3_25">
        <div class="sf_colsIn sf_4cols_3in_25" data-sf-element="Column 3">
            
        </div>
    </div>
    <div class="sf_colsOut sf_4cols_4_25">
        <div class="sf_colsIn sf_4cols_4in_25" data-sf-element="Column 4">
            
        </div>
    </div>
</div>