<textarea id="editor" style="height: 340px;"
    kendo-editor ng-model="sfModel"
    k-encoded="false"
    k-stylesheets='["/Frontend-Assembly/Telerik.Sitefinity.Frontend/assets/dist/css/html-field.min.css"]',
    k-tools='[
    "formatting",
    "bold", "italic", "underline", "trikethrough",
    "justifyLeft", "justifyCenter", "justifyRight",
    "insertUnorderedList", "insertOrderedList", "indent", "outdent",
    {
        name: "createLink",
        template: "<a href=\"\" class=\"k-tool k-group-start\" ng-click=\"openLinkSelector()\" title=\"Insert hyperlink\"><span class=\"k-tool-icon k-createLink\">Create Link</span></a>"
    },
    "unlink",
    {
        name: "insertImage",
        template: "<a href=\"\" class=\"k-tool k-group-start\" ng-click=\"openImageSelector()\" title=\"Select image\"><span class=\"k-tool-icon k-insertImage\">Select image</span></a>"
    },
    "createTable", "addColumnLeft", "addColumnRight", "addRowAbove", "addRowBelow", "deleteRow", "deleteColumn",
    "cleanFormatting",
    {
        name: "fullscreen",
        template: "<a class=\"k-button js-custom-tool custom-tool\" ng-click=\"toggleFullScreen()\"><span class=\"js-fullScreen glyphicon\"></span></a>"
    },
    {
        name: "htmlView",
        template: "<button class=\"k-button pull-right js-custom-tool\" ng-click=\"toggleHtmlView()\">\{\{htmlViewLabel\}\}</button>"
    }
    ]'>
</textarea>

<sf-link-selector-modal id="linkSelectorModal"></sf-link-selector-modal>
<sf-image-selector-modal id="imageSelectorModal"></sf-image-selector-modal>
